<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Schedules</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>
<body>
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
<h1 class="mb-4">Schedule List</h1>
<a href="{% url 'schedule_create' %}" class="btn btn-primary">Add +</a>
</div>
<table class="table table-hover table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Doctor</th>
            <th>available day</th>
            <th>From</th>
            <th>To</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for schedule in schedules %}
        <tr>
            <td>{{ schedule.id }}</td>
            <td>{{ schedule.doctor }}</td>
            <td>{{ schedule.available_day}}</td>
            <td>{{ schedule.start_time }}</td>
            <td>{{ schedule.end_time }}</td>
            <td class="text-center">
                <a href="{% url 'schedule_edit' schedule.id %}" class="btn btn-sm btn-warning mr-2">Edit</a>
                <a href="{% url 'schedule_delete' schedule.id %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
